.App {
  text-align: center;
}

.Logo {
  height: 19vmin;
  pointer-events: none;
}

.Title {
  font-size: 40px;
  color: #52ab98;
}

.Weather-col {
  background-color: #282c34;
  color: #39395f;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 20px);
  padding: 0 10px;
  height: 30vh;
  background-color: #e1eedd;
}

.App-link {
  color: #516469;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Weather {
  margin-left: auto;
  margin-right: 20px;
}

.Categories {
  background-color: #c8d8e4;
  min-height: fit-content;
  padding: 5px 0 30px;
}

.Recommendation {
  background-color: #e1eedd;
  min-height: fit-content;
  padding: 5px 0 30px;
}

#box-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height:fit-content;
}

#box-button {
  align-items: center;
  justify-content: space-evenly;
  height: 20rem;
  width: 20rem;
  box-shadow: 0 2px 10px 1px #2b6777;
  border-radius: 0.5rem;
  background-color: #2b6777;
  transition-property: transform;
  transition-duration: 0.5s;
}

#box-button > p {
  font-size: 35px;
  color: #c8d8e4;
}

.Slider {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale:hover {
  transform: scale(1.03, 1.03);
}

/* Mobile Devices ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .Logo {
    min-height: 35vmin;
    pointer-events: none;
  }
  #box-container {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
  #box-button {
    width: 15rem;
    height: 15rem;
    font-size: 1rem;
  }

  #box-button > p {
    font-size: 27px;
  }
}
